name: flutter_template
description: A barebone flutter template that will get you up and running in no time.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.2.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  flutter_navigation_generator_annotations: ^1.0.1
  impaktfull_architecture: ^0.0.9
  sprintf: ^7.0.0

dev_dependencies:
  build_runner: ^2.4.8
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0
  flutter_navigation_generator: ^1.0.4+1
  injectable_generator: ^2.4.2
  locale_gen: ^12.1.2
  impaktfull_cli: ^0.13.7
  
flutter:
  uses-material-design: true
  assets:
    - assets/font/
    - assets/font/ubuntu/
    - assets/locale/
    - assets/icons/
    - assets/lottie/
  fonts:
    - family: Ubuntu
      fonts:
        - asset: assets/font/ubuntu/ubuntu_regular.ttf

locale_gen:
  default_language: 'en'
  languages: ['en', 'nl']